# Configuration du Serveur Gateway
PORT=3000
NODE_ENV=development

# Sécurité (CORS) - Séparer par des virgules pour autoriser plusieurs origines
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8000,http://localhost:4200

# Redirection Proxy vers l'API Laravel (Backend)
LARAVEL_URL=http://localhost:8000
